DATABASE_URL=********

BLOB_READ_WRITE_TOKEN=********

BETTER_AUTH_SECRET=********
BETTER_AUTH_URL=********

GOOGLE_CLIENT_ID=********
GOOGLE_CLIENT_SECRET=********

STRIPE_WEBHOOK_SECRET=********
STRIPE_SECRET_KEY=********
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=********
